## Analisando dados de obras realizadas no município de Contagem
A ideia é correlacionar os anos de uma gestão e o volume de obras realizadas pela prefeitura.

fonte:https://dadosabertos.tce.mg.gov.br/view/xhtml/paginas/telaInicio.xhtml

In [37]:
import pandas as pd
import seaborn as sns

url_2017 = 'https://raw.githubusercontent.com/Gabriel-datapy/Obras_Contagem/master/2017.3118601.despesa.despesa.csv'
url_2018 = 'https://raw.githubusercontent.com/Gabriel-datapy/Obras_Contagem/master/2018.3118601.despesa.despesa.csv'
url_2019 = 'https://raw.githubusercontent.com/Gabriel-datapy/Obras_Contagem/master/2019.3118601.despesa.despesa.csv'
url_2020 = 'https://raw.githubusercontent.com/Gabriel-datapy/Obras_Contagem/master/2020.3118601.despesa.despesa.csv'

In [38]:
df_2017 = pd.read_csv(url_2017,sep=';',usecols=['num_anoexercicio','dsc_naturezadespesa','vlr_previsto','vlr_acrescimo'])
df_2018 = pd.read_csv(url_2018,sep=';',usecols=['num_anoexercicio','dsc_naturezadespesa','vlr_previsto','vlr_acrescimo'])
df_2019 = pd.read_csv(url_2019,sep=';',usecols=['num_anoexercicio','dsc_naturezadespesa','vlr_previsto','vlr_acrescimo'])
df_2020 = pd.read_csv(url_2020,sep=';',usecols=['num_anoexercicio','dsc_naturezadespesa','vlr_previsto','vlr_acrescimo'])

df_juncao = pd.concat([df_2017,df_2018,df_2019,df_2020])

In [39]:
df_juncao.columns = ['Ano de Exercício','Natureza da Despesa','Valor Previsto','Valor Acrescido'].copy()
df_juncao.head()

,Ano de Exercício,Natureza da Despesa,Valor Previsto,Valor Acrescido
0,2017,3.3.90.39.00 - OUTROS SERVIÇOS DE TERCEIROS - ...,30000.0,0.0
1,2017,3.3.90.39.33 - SERVIÇOS DE COMUNICAÇÃO EM GERAL,0.0,0.0
2,2017,3.3.90.30.00 - MATERIAL DE CONSUMO,0.0,0.0
3,2017,3.3.50.39.00 - OUTROS SERVIÇOS DE TERCEIROS - ...,17219399.0,0.0
4,2017,3.3.90.39.00 - OUTROS SERVIÇOS DE TERCEIROS - ...,3810000.0,0.0

In [40]:
# df_juncao['Natureza da Despesa'].unique()

In [41]:
#Criar uma cópia dos dados do df_juncao, é importante para que o código não fique referenciando o dado incial,mas crie
#um dado novo, isso facilita também o processamento dos dados

df_obras = df_juncao[df_juncao['Natureza da Despesa'].str.contains('OBRAS')].copy()


df_obras.head()

,Ano de Exercício,Natureza da Despesa,Valor Previsto,Valor Acrescido
78,2017,4.4.90.51.02 - OBRAS E INSTALAÇÕES DE DOMÍNIO ...,0.0,0.0
82,2017,4.4.90.51.00 - OBRAS E INSTALAÇÕES,0.0,0.0
124,2017,4.4.90.51.02 - OBRAS E INSTALAÇÕES DE DOMÍNIO ...,0.0,0.0
158,2017,4.4.90.51.02 - OBRAS E INSTALAÇÕES DE DOMÍNIO ...,0.0,0.0
160,2017,4.4.90.51.01 - OBRAS E INSTALAÇÕES DE DOMÍNIO ...,0.0,0.0

In [42]:
colunas_obras = df_obras['Natureza da Despesa'].count()
n = 0

while n<(colunas_obras-1):
    valor = df_obras.iloc[n,1][14:]
    df_obras.iloc[n,1] = valor
    n = n+1

df_obras.head()

,Ano de Exercício,Natureza da Despesa,Valor Previsto,Valor Acrescido
78,2017,OBRAS E INSTALAÇÕES DE DOMÍNIO PATRIMONIAL,0.0,0.0
82,2017,OBRAS E INSTALAÇÕES,0.0,0.0
124,2017,OBRAS E INSTALAÇÕES DE DOMÍNIO PATRIMONIAL,0.0,0.0
158,2017,OBRAS E INSTALAÇÕES DE DOMÍNIO PATRIMONIAL,0.0,0.0
160,2017,OBRAS E INSTALAÇÕES DE DOMÍNIO PÚBLICO,0.0,0.0